tap "derailed/k9s"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "moncho/dry"
tap "tilt-dev/tap"
tap "txn2/tap"
brew "gcc"
brew "python@3.9"
brew "ansible"
brew "argo"
brew "argocd"
brew "awscli"
brew "chart-testing"
brew "docker", link: false
brew "docker-clean"
brew "eksctl"
brew "fzf"
brew "gh"
brew "git"
brew "go"
brew "helm"
brew "iperf"
brew "iproute2"
brew "jq"
brew "k6"
brew "kubernetes-cli"
brew "krew"
brew "kubeseal"
brew "nmap"
brew "node"
brew "poetry"
brew "rancher-cli"
brew "ripgrep"
brew "terraform"
brew "tmux"
brew "tree"
brew "yamllint"
brew "yq"
brew "derailed/k9s/k9s"
brew "moncho/dry/dry"
brew "tilt-dev/tap/ctlptl"
brew "tilt-dev/tap/tilt"
brew "txn2/tap/kubefwd"
cask "docker"
